@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Playfair+Display&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100&display=swap");

:root {
  /*Primary Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  --bg-gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  /* secondary text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-gradient);
  height: 100vh;
  width: 100%;
  font-family: Kumbh Sans;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 720px;
  height: 400px;
  margin: auto;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 0;
}

.bg-container {
  position: relative;
  background: url(./images/bg-pattern-desktop.svg);
  width: 45%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 610px;
  padding-top: 70%;
  margin-right: 3rem;
  margin-top: 4rem;
  overflow: hidden;
}
.bg-container .img {
  position: absolute;
  top: 20%;
  left: -8%;
}
.bg-container .box {
  position: absolute;
  top: 40%;
  left: -10%;
  overflow: visible;
}

.faq-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--Very-dark-desaturated-blue);
}

.faq {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Light-grayish-blue);
  cursor: pointer;
  color: var(--Dark-grayish-blue);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h4 {
  font-size: 0.9rem;
}

.question h4:hover {
  color: var(--Soft-red);
}

.question svg {
  color: var(--Soft-red);
  transition: transform 0.5s ease-in;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 0.5rem;
  line-height: 1.2;
  font-size: 0.7rem;
}

.faq.active .answer {
  max-height: 300px;
}

.faq.active h4 {
  color: var(--Very-dark-grayish-blue);
}

.faq.active svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 720px) {
  .container {
    width: 90%;
    min-height: 70%;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 2rem;
    margin-bottom: 5rem;
  }

  .bg-container {
    position: relative;
    background: url(./images/bg-pattern-mobile.svg);
    width: 80%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    padding-top: 0;
    margin-right: 0;
    margin-top: 0;
    top: 0;
    overflow: visible;
  }

  .bg-container .img {
    position: absolute;
    top: -60%;
    left: 15%;
    width: 70%;
  }
  .bg-container .box {
    position: absolute;
    top: -4%;
    left: 15%;
    width: 25%;
  }

  .faq-container {
    width: 90%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .title {
    font-size: 1.2rem;
  }
  .question h4 {
    font-size: 0.7rem;
  }
  .answer p {
    padding-top: 0.5rem;
    line-height: 1;
    font-size: 0.6rem;
  }
}
