@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Playfair+Display&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100&display=swap");

:root {
  /*Primary Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  --bg-gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  /* secondary text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-gradient);
  height: 100vh;
  width: 100%;
  font-family: Kumbh Sans;
  font-size: 12px;
}

.container {
  max-width: 720px;
  min-height: 480px;
  margin: 5rem auto;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 0;
}

.bg-container {
}

.faq-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 700;
  margin: 1rem 0;
  color: var(--Very-dark-desaturated-blue);
}

.faq {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Light-grayish-blue);
  cursor: pointer;
  color: var(--Dark-grayish-blue);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h4 {
  font-size: 0.9rem;
}

.question svg {
  color: var(--Soft-red);
  transition: transform 0.5s ease-in;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 0.5rem;
  line-height: 1.2;
  font-size: 0.7rem;
}

.faq.active .answer {
  max-height: 300px;
}

.faq.active svg {
  transform: rotate(180deg);
}
